.wrapper {
   height: 100vh;
   width: 100%;
   overflow: hidden;
   background-color: grey;
}

.swiper-container {
   height: 100%;
   width: 100%;
}

.section {
   height: 100%;
   width: 100%;
}

.swiper-slide {
   overflow: hidden;
}